version: '3'

services:
  db:
    image: postgres:9.5
    environment:
      - POSTGRES_DB=base_datos
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
  web:
    build: ./MDC
    command: gunicorn -c gunicorn.conf MDC.wsgi
    volumes:
      - ./MDC:/MDC
    ports:
      - "8000:8000"
    depends_on:
      - db
  nginx:
    build: ./nginx
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./MDC/static:/var/www/static
      - ./MDC/media:/var/www/media

volumes:
  db_data:
    external: true
